body {
    background-color: #D5E1EF;
}

.box {
    background-color: white;
    width: 320px;
    padding: 16px;
    border-radius: 15px;
    box-sizing: border-box;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}