body {
    margin: 0;
    min-height: 100vh;
    background-color: #D5E1EF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: white;
    width: 320px;
    padding: 16px;
    border-radius: 15px;
    box-sizing: border-box;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.box h1 {
    margin: 0;
    text-align: center;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    margin-top: 24px;
    color: #1F314F;
}

.box p {
    margin: 0;
    font-family: 'Outfit';
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-top: 16px;
    margin-bottom: 40px;
    color: #68778D;
}